* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper table, th, td {
    border: solid;
    border-collapse: collapse;
    text-align: center;
    padding: 3px 0px;
}

table {
    width: 50%;
    table-layout: auto;
}

.wrapper .searchbar-container {
    width: 43%;
    height: 50px;
    overflow: hidden;
    border: solid;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.searchbar-container input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 0 15px;
}

.searchbar-container .search-icon {
    width: 15px;
    height: 15px;
}

.searchbar-container .mic-icon {
    width: 20px;
    height: 20px;
}

.wrapper .list-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.city-dropdown {
    padding: 4px;
}